<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.app_comunicacion" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />
	<application android:label="App_Comunicacion.Android" android:icon="@mipmap/icon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB3nF4kYE5Odc2uS0CPnR7tr_GxvC0EkQ4" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>